<div class="p-3">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <cc-toggle-group
        [value]="value()"
        (valueChange)="onChangeToggle($event)"
        [activeClass]="true"
        [listToggle]="listToggle()"
      ></cc-toggle-group>
    </div>
    <div class="d-flex gap-2">
      <cc-button mode="secondary" (onClick)="searchDocument()">
        {{ "Tìm kiếm văn bản" }}
      </cc-button>
      <cc-button (onClick)="addDocument()">
        {{ "addDocument" | translateAsync }}
      </cc-button>
    </div>
  </div>

  <app-waiting-document
    [waitingDocuments]="waitingDocuments()"
    [columns]="waitingColumns()"
    [currentPage]="waitingCurrentPage()"
    [pageSize]="waitingPageSize()"
    [totalItems]="waitingTotalItems()"
    (pageChanged)="handleWaitingPageEvent($event)"
    (openDialog)="openDialog($event)"
    (finishDocument)="finishDocument($event)"
  ></app-waiting-document>

  <app-finished-document
    [finishedDocuments]="finishedDocuments()"
    [columns]="finishedColumns()"
    [currentPage]="finishedCurrentPage()"
    [pageSize]="finishedPageSize()"
    [totalItems]="finishedTotalItems()"
    [recentlyFinishedDocId]="recentlyFinishedDoc()"
    (pageChanged)="handleFinishedPageEvent($event)"
    (openDialog)="openDialog($event)"
  ></app-finished-document>
</div>

@if(this.httpClient.loading()) {
<cc-loading></cc-loading>
}
<ng-template #chuyen>
  <div class="dialog-content-wrapper">
    <cc-radio-group
      (onChange)="onChange($event)"
      [value]="selectedOption()"
      [options]="[
        { label: MOVE_CV.CBQL, value: 'management-staff' },
        { label: MOVE_CV.GIAO_VIEN, value: 'teacher' },
        { label: MOVE_CV.NHAN_VIEN, value: 'staff' }
      ]"
    ></cc-radio-group>

    <div class="text-center mt-4">
      <cc-button (onClick)="confirmMove()">Xác nhận</cc-button>
    </div>
  </div>
</ng-template>
