<div class="p-3">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <cc-toggle-group
        [value]="value()"
        (valueChange)="onChangeToggle($event)"
        [activeClass]="true"
        [listToggle]="listToggle()"
      ></cc-toggle-group>
    </div>
    <div class="d-flex gap-2">
      <cc-button mode="secondary" (onClick)="searchDocument()">
        {{ "Tìm kiếm văn bản" }}
      </cc-button>
      <cc-button (onClick)="addDocument()">
        {{ "addDocument" | translateAsync }}
      </cc-button>
    </div>
  </div>

  <app-waiting-document
    [waitingDocuments]="waitingDocuments()"
    [columns]="waitingColumns()"
    [currentPage]="waitingCurrentPage()"
    [pageSize]="waitingPageSize()"
    [totalItems]="waitingTotalItems()"
    (pageChanged)="handleWaitingPageEvent($event)"
    (openDialog)="openDialog()"
    (finishDocument)="finishDocument($event)"
  ></app-waiting-document>

  <app-finished-document
    [finishedDocuments]="finishedDocuments()"
    [columns]="finnishColumns()"
    [currentPage]="finishedCurrentPage()"
    [pageSize]="finishedPageSize()"
    [totalItems]="finishedTotalItems()"
    [recentlyFinishedDocId]="recentlyFinishedDoc()"
    (pageChanged)="handleFinishedPageEvent($event)"
    (openDialog)="openDialog()"
  ></app-finished-document>
</div>

@if(this.httpClient.loading()) {
<cc-loading></cc-loading>
}
<ng-template #chuyen>
  <cc-radio-group
    (onChange)="onChange($event)"
    [options]="[
      { label: MOVE_CV.CBQL },
      { label: MOVE_CV.GIAO_VIEN },
      { label: MOVE_CV.NHAN_VIEN }
    ]"
  ></cc-radio-group>

  <cc-button (onClick)="confirmMove()">Xác nhận</cc-button>
</ng-template>
