<!-- <div class="inputGroup"> -->
<!-- <input type="text" [required]="require" autocomplete="on" [type]="type" [placeholder]="placeholder"
    [(ngModel)]="inputValue" (ngModelChange)="onInputChange.emit($event)" [maxlength]="maxLength">
    @if (name) {
      <label for="name">{{name | translateAsync}}</label>
    } -->
<!-- <mat-form-field class="example-full-width">
      <mat-label>{{label()}}</mat-label>
      <input [required]="require()" autocomplete="on" [type]="type()" [placeholder]="placeholder()"
    [(ngModel)]="inputValue" (ngModelChange)="onInputChange.emit($event)" [maxlength]="maxLength()" />
    </mat-form-field> -->
<!-- </div> -->

<mat-form-field class="example-full-width">
  <mat-label>{{ label() | translateAsync }}</mat-label>
  <input
    matInput
    [disabled]="isDisabled()"
    [required]="require()"
    autocomplete="on"
    [type]="type()"
    [value]="value()"
    [placeholder]="placeholder()"
    [maxLength]="maxLength()"
  />
</mat-form-field>
