@use './app/commons/variable' as *;
@use './app/commons/material';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul li {
  list-style-type: none;
}

// Define a mixin with placeholders for uniquifier and weight
@mixin dancing-script($uniquifier, $weight) {
  .dancing-script-#{$uniquifier} {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }
}

.cursor-pointer {
  cursor: pointer;
}


.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@mixin bg-color-input($bg-color) {
  background-color: $bg-color;
}

// @mixin responsive-hide($size) {
//   $breakpoint-value: map-get($breakpoints, $size);

//   @if $size =='xs' or $size =='md' or $size =='sm' {
//     @media screen and (max-width: $breakpoint-value) {
//       & {
//         display: none !important;
//       }
//     }
//   }

//   @else {
//     @media screen and (min-width: $breakpoint-value) {
//       & {
//         display: none !important;
//       }
//     }
//   }
// }

// .hidden-xs {
//   @include responsive-hide(xs);
// }

// .hidden-sm {
//   @include responsive-hide(xs);
// }

// .hidden-md {
//   @include responsive-hide(md);
// }

// .hidden-lg {
//   @include responsive-hide(lg)
// }

// .hidden-xl {
//   @include responsive-hide(xl)
// }

// .hidden-xxl {
//   @include responsive-hide(xl)
// }

app-cc-select {
  width: 100%;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #ea8025;
  }
}